<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav class="fixed top-0 z-50 w-full bg-customOrange">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-between sm:items-stretch sm:justify-start pl-0 ml-0">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-14 w-36" src="/assets/logoutpl.png" alt="Your Company" />

            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4 ml-4">
                <a class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page">AYUDANTE DE CÁTEDRA</a>
                  <span class="text-gray-950 bg-white rounded-md px-3 py-2 text-sm font-bold" aria-current="page">{{ activePeriod?.name || 'PERÍODO' }}</span>
              </div>

              <div class="absolute inset-y-0 right-0 flex items-center">
                <a href="#"
                  class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page" [routerLink]="'/logout'">CERRAR SESIÓN</a>
              </div>
            </div>
          </div>

        </div>
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" id="mobile-menu-button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-950 hover:bg-customPeach hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Icon when menu is open. -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <div class="relative ml-3">
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold"
          aria-current="page">Home</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">User</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">Activities</a>
      </div>
    </div>
  </nav>
  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-20 h-screen pt-20 transition-transform -translate-x-full bg-customBlue border-r border-gray-200 sm:translate-x-0 dark:bg-customBlue dark:border-customBlue"
    aria-label="Sidebar">
    <div class="h-full px-2 pb-4 overflow-y-auto bg-customBlue dark:bg-customBlue">
      <ul class="space-y-2 font-medium">
        <li>
          <a [routerLink]="'/home-ayudante'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector2.png" alt="Home" class="w-8 h-8">
            <span class="sr-only">Home Ayudante</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/plazas'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/plaza.png" alt="Planificacion" class="w-8 h-8">
            <span class="sr-only">Plazas</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/planificacion'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/activity.png" alt="Planificacion" class="w-11 h-11">
            <span class="sr-only">Planificacion</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/vista'" 
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector4.png" alt="Activities" class="w-8 h-8">
            <span class="sr-only">Vista</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/presentacion'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector3.png" alt="Sign In" class="w-8 h-8">
            <span class="sr-only">Presentation</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="p-4 sm:ml-20"> 
    <div class="p-4 mt-14">
    </div>
  </div>

  
</body>

</html>
