<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen overflow-auto">
  
  <app-navbar-teacher> </app-navbar-teacher>
  
  <app-aside-teachers> </app-aside-teachers>


  <div class="p-4 sm:ml-20">
    <div class="p-4 mt-14">
      <div class="flex items-center justify-center h-48 rounded relative">
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="flex flex-col items-center justify-center px-4">
            <img src="/assets/images0.png" alt="Imagen" class="inset-0 m-auto object-cover rounded max-w-11/12" />
            <p class="text-xl text-gray-950 text-center mt-4 font-bold leading-relaxed">
              UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
              PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
              PERIODO ABRIL - AGOSTO 2024
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="activity" class="bg-white shadow-md rounded-lg overflow-hidden p-6 mt-8">
        <h2 class="text-2xl mb-4 font-bold">Detalles de la Actividad</h2>
        <table class="min-w-full divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Actividad:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.activity }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Fecha de inicio:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.startdate }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Fecha de fin:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.enddate }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Medio de verificación:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.verificationmethod }}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="teacher" class="bg-white shadow-md rounded-lg overflow-hidden p-6 mt-8">
        <h2 class="text-2xl mb-4 font-bold">Detalles del Docente</h2>
        <table class="min-w-full divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Nombres y Apellidos:</strong></td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap">{{ teacher.name }}</td>
            <td
              class="px-2 py-2 whitespace-nowrap bg-customgreen text-black text-center font-bold border-b-2 border-black">
              Validado</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap">{{ teacher.name }}</td>
            <td
              class="px-2 py-2 whitespace-nowrap bg-customgray text-black text-center font-bold border-b-2 border-black">
              No Validado</td>
          </tr>
        </table>
      </div>

    </div>
  </div>



</body>

</html>