<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen overflow-auto">

  <app-navbar-teacher> </app-navbar-teacher>

  <app-aside-teachers> </app-aside-teachers>


  <div class="p-4 sm:ml-20">
    <div class="p-4 mt-14">
      <div class="flex items-center justify-center h-48 rounded relative">
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="flex flex-col items-center justify-center px-4">
            <img src="/assets/images0.png" alt="Imagen" class="inset-0 m-auto object-cover rounded max-w-11/12" />
            <p class="text-xl text-gray-950 text-center mt-4 font-bold leading-relaxed">
              UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
              PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
              PERIODO {{ activePeriod?.name || 'PERÍODO' }}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="activity" class="bg-white shadow-md rounded-lg overflow-hidden p-6 mt-8">
        <h2 class="text-2xl mb-4 font-bold">Detalles de la Actividad</h2>
        <table class="min-w-full divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Actividad:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.activity }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Fecha de inicio:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.startdate }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Fecha de fin:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.enddate }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Medio de verificación:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap">{{ activity.verificationmethod }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="activity" class="bg-white shadow-md rounded-lg overflow-hidden p-6 mt-8">
        <h2 class="text-2xl mb-4 font-bold">Archivos Subidos</h2>
        <div class="min-w-full divide-y divide-gray-200">
          <ul *ngIf="files.length > 0">
            <li *ngFor="let file of files" class="flex items-center justify-between border-b py-2">
              <div class="flex items-center">
                <img src="/assets/pdf-icon.png" alt="PDF Icon" class="w-6 h-6 mr-2">
                <span>{{ file.name }}</span>
              </div>
              <button class="bg-customBlue hover:bg-customBlueHover text-white px-3 py-1 rounded"
                (click)="selectFile(file.url)">
                Ver
              </button>
            </li>
          </ul>
          <p *ngIf="files.length === 0" class="text-gray-500">No hay archivos subidos aún.</p>
        </div>
      </div>

      <div class="mt-4 flex items-center justify-center h-20 mb-4 rounded">
        <button
          class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2 active:scale-100"
          (click)="validateActivity(true)">
          Validar
        </button>
        <button
          class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2 active:scale-100"
          (click)="validateActivity(false)">
          No Validar
        </button>
      </div>

      <div *ngIf="activity" class="bg-white shadow-md rounded-lg overflow-hidden p-2">
        <h2 class="text-2xl mb-4 font-bold">Detalles del Docente</h2>
        <table class="min-w-full divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Nombres y Apellidos:</strong></td>
            <td class="px-4 py-2 whitespace-nowrap text-center font-semibold ">{{ activity.nameTeacher }}</td>
          </tr>
          <tr>
            <td class="px-4 py-2 whitespace-nowrap"><strong>Estado de Actividad:</strong></td>
            <td class="px-2 py-2 whitespace-nowrap">
              <span *ngIf="activity.validated === true"
                class="block w-full text-center px-4 py-2 bg-customgreen text-black font-bold border-b-2 border-black">
                Validado
              </span>
              <span *ngIf="activity.validated === false"
                class="block w-full text-center px-4 py-2 bg-customgray text-black font-bold border-b-2 border-black">
                No Validado
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</body>

</html>