<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <app-navbar-student> </app-navbar-student>

  <app-aside-student></app-aside-student>


  <div class="p-6 sm:ml-24">
    <div class="p-6 mt-16">
      <div class="flex flex-col items-center justify-center h-full w-full">
        <div class="container mx-auto bg-white shadow-lg rounded-lg flex flex-col justify-center p-8">
          <h1 class="text-gray-800 text-center font-bold text-3xl sm:text-4xl md:text-5xl lg:text-5xl xl:text-6xl">
            PLAZAS <br> Ayudante de Cátedra
          </h1>
          <div class="mt-16 p-6 sm:ml-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 auto-rows-fr">
            <div *ngFor="let plaza of plazas$ | async; let i = index" class="mb-10 w-full">
              <div
                class="bg-gray-100 shadow-md text-gray-700 p-6 h-80 flex flex-col justify-between w-full rounded-2xl transition-transform transform hover:scale-105">
                <h2 class="text-center font-bold text-2xl mb-4 text-gray-800">PLAZA {{ i + 1 }}</h2>
                <div class="text-sm leading-relaxed">
                  <p class="flex"><strong class="text-gray-800 mr-2">DIRECTOR:</strong> <span>{{ plaza.directorsName
                      }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">CARRERA:</strong> <span>{{ plaza.career }}</span>
                  </p>
                  <p class="flex"><strong class="text-gray-800 mr-2">ASIGNATURA:</strong> <span>{{
                      plaza.directorsSubject }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">PARALELO:</strong> <span>{{ plaza.parallel
                      }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">MALLA CURRICULAR:</strong> <span>{{
                      plaza.curriculum }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">CICLO REQUERIDO:</strong> <span>{{
                      plaza.academicCycle }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">DOCENTE:</strong> <span>{{ plaza.nameTeacher
                      }}</span></p>
                </div>
                <div class="flex justify-center p-1">
                  <button (click)="toggleModal(plaza)"
                    class="bg-customBlue text-white py-2 px-6 rounded-md hover:bg-customBlueHover font-medium text-base">
                    Postular
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-3xl shadow-lg max-w-md mx-auto">
      <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">¿Estás seguro de postular?</h2>
      <p class="text-center text-sm text-gray-700 mb-6">
        <span class="font-bold">ESTUDIANTE:</span> {{ userName }}
      </p>
      <form [formGroup]="form" (ngSubmit)="onSubmit(selectedPlaza?.id)">
        <div class="mb-4">
          <label for="phone" class="block text-sm text-gray-700 font-medium mb-2">Número de Celular</label>
          <input formControlName="phone" type="number"
            class="w-full p-3 border rounded-lg text-gray-700 focus:outline-none" />
        </div>
        <div class="mb-6">
          <label for="academicCycle" class="block text-sm text-center text-gray-700 font-medium mb-2">¡Selecciona el
            ciclo!</label>
          <select id="academicCycle" class="w-full lg:w-72 p-2 border rounded-lg text-gray-700"
            formControlName="academicCycle">
            <option value="" disabled>Selecciona una opción</option>
            <option *ngFor="let academicCycle of academicCycles" [value]="academicCycle">{{ academicCycle }}</option>
          </select>
        </div>
        <div class="flex justify-center mt-6 space-x-4">
          <button type="button" (click)="toggleModal()"
            class="bg-gray-300 text-customBlue py-3 px-8 rounded-lg">Cancelar</button>
          <button type="submit" class="bg-customBlue text-white py-3 px-11 rounded-lg">Enviar</button>
        </div>

      </form>
    </div>
  </div>

  <div *ngIf="showAlert" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div
      class="bg-green-100 border border-green-300 p-6 rounded-3xl shadow-xl max-w-md mx-auto flex items-center space-x-4">
      <svg class="w-8 h-8 text-green-500 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
      </svg>
      <div>
        <strong class="font-semibold text-green-700 text-lg">¡Éxito!</strong>
        <p class="text-black">La postulación se guardó correctamente.</p>
      </div>
    </div>
  </div>

  <div *ngIf="showError" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div
      class="bg-red-100 border border-red-300 p-6 rounded-3xl shadow-xl max-w-md mx-auto flex items-center space-x-4">
      <svg class="w-8 h-8 text-red-500 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <div>
        <strong class="font-semibold text-red-700 text-lg">Error:</strong>
        <p class="text-black">{{ errorMessage }}</p>
      </div>
    </div>
  </div>


</body>

</html>