<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <nav class="fixed top-0 z-50 w-full bg-customOrange">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-between sm:items-stretch sm:justify-start pl-0 ml-0">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-14 w-36" src="/assets/logoutpl.png" alt="Your Company" />

            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4 ml-4">
                <a class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page">AYUDANTE DE CÁTEDRA</a>
                <span class="text-gray-950 bg-white rounded-md px-3 py-2 text-sm font-bold" aria-current="page">{{
                  activePeriod?.name || 'PERÍODO' }}</span>
              </div>
              <div class="absolute inset-y-0 right-0 flex items-center">
                <a href="#"
                  class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page" [routerLink]="'/logout'">CERRAR SESIÓN</a>
              </div>
            </div>
          </div>

        </div>
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <button type="button" id="mobile-menu-button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-950 hover:bg-customPeach hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="relative ml-3">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold"
          aria-current="page">Home</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">User</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">Activities</a>
      </div>
    </div>
  </nav>
  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-20 h-screen pt-20 transition-transform -translate-x-full bg-customBlue order-r border-gray-200 sm:translate-x-0 dark:bg-customBlue dark:border-customBlue"
    aria-label="Sidebar">
    <div class="h-full px-2 pb-4 overflow-y-auto bg-customBlue dark:bg-customBlue">
      <ul class="space-y-2 font-medium">
        <li>
          <a [routerLink]="'/home-ayudante'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector2.png" alt="Home" class="w-8 h-8">
            <span class="sr-only">Home Ayudante</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/plazas'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/plaza.png" alt="Planificacion" class="w-8 h-8">
            <span class="sr-only">Plazas</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/planificacion'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/activity.png" alt="Planificacion" class="w-11 h-11">
            <span class="sr-only">Planificacion</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/vista'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector4.png" alt="Activities" class="w-8 h-8">
            <span class="sr-only">Vista</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/informe'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector3.png" alt="Sign In" class="w-8 h-8">
            <span class="sr-only">Informe</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>


  <div class="p-6 sm:ml-24">
    <div class="p-6 mt-16">
      <div class="flex flex-col items-center justify-center h-full w-full">
        <div class="container mx-auto bg-white shadow-lg rounded-lg flex flex-col justify-center p-8">
          <h1 class="text-gray-800 text-center font-bold text-3xl sm:text-4xl md:text-5xl lg:text-5xl xl:text-6xl">
            PLAZAS <br> Ayudante de Cátedra
          </h1>
          <div class="mt-16 p-6 sm:ml-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 auto-rows-fr">
            <div *ngFor="let plaza of plazas$ | async; let i = index" class="mb-10 w-full">
              <div
                class="bg-gray-100 shadow-md text-gray-700 p-6 h-80 flex flex-col justify-between w-full rounded-2xl transition-transform transform hover:scale-105">
                <h2 class="text-center font-bold text-2xl mb-4 text-gray-800">PLAZA {{ i + 1 }}</h2>
                <div class="text-sm leading-relaxed">
                  <p class="flex"><strong class="text-gray-800 mr-2">DIRECTOR:</strong> <span>{{ plaza.directorsName }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">ASIGNATURA:</strong> <span>{{ plaza.subject }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">PARALELO:</strong> <span>{{ plaza.parallel }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">MALLA CURRICULAR:</strong> <span>{{ plaza.curriculum }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">CICLO REQUERIDO:</strong> <span>{{ plaza.academicCycle }}</span></p>
                  <p class="flex"><strong class="text-gray-800 mr-2">DOCENTE:</strong> <span>{{ plaza.nameTeacher }}</span></p>
                </div>
                <div class="flex justify-center p-1">
                  <button (click)="toggleModal(plaza)"
                    class="bg-customBlue text-white py-2 px-6 rounded-md hover:bg-customBlueHover font-medium text-base">
                    Postular
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-3xl shadow-lg max-w-md mx-auto">
      <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">¿Estás seguro de postular?</h2>
      <p class="text-center text-sm text-gray-700 mb-6">
        <span class="font-bold">ESTUDIANTE:</span> {{ userName }}
      </p>
      <form [formGroup]="form" (ngSubmit)="onSubmit(selectedPlaza?.id)">
        <div class="mb-4">
          <label for="phone" class="block text-sm text-gray-700 font-medium mb-2">Número de Celular</label>
          <input formControlName="phone" type="number"
            class="w-full p-3 border rounded-lg text-gray-700 focus:outline-none" />
        </div>
        <div class="mb-6">
          <label for="academicCycle" class="block text-sm text-center text-gray-700 font-medium mb-2">¡Selecciona el
            ciclo!</label>
          <select formControlName="academicCycle" class="w-full p-3 border rounded-lg text-gray-700 focus:outline-none">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="Ciclo1">Ciclo 1</option>
            <option value="Ciclo2">Ciclo 2</option>
          </select>
        </div>
        <div class="flex justify-center mt-6 space-x-4">
          <button type="button" (click)="toggleModal()"
            class="bg-gray-300 text-customBlue py-3 px-8 rounded-lg">Cancelar</button>
          <button type="submit" class="bg-customBlue text-white py-3 px-11 rounded-lg">Enviar</button>
        </div>

      </form>
    </div>
  </div>

  <div *ngIf="showAlert" class="fixed top-20 right-4 z-50 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-lg">
    <strong class="font-bold">Éxito:</strong>
    <span class="block sm:inline"> La postulación se guardó correctamente.</span>
  </div>

  <div *ngIf="showError" class="fixed top-20 right-4 z-50 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded shadow-lg">
    <strong class="font-bold">Error:</strong>
    <span class="block sm:inline"> Hubo un problema al guardar la postulación. Inténtalo nuevamente.</span>
</div>

  




















</body>

</html>