<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-20 h-screen pt-20 transition-transform -translate-x-full bg-customBlue border-r border-gray-200 sm:translate-x-0 dark:bg-customBlue dark:border-customBlue"
  aria-label="Sidebar">
  <div class="h-full px-2 pb-4 overflow-y-auto bg-customBlue dark:bg-customBlue">
    <ul class="space-y-2 font-medium">
      <!-- Opción siempre visible -->
      <li>
        <a [routerLink]="'/home-ayudante'" routerLinkActive="bg-customBlue4 text-white"
          class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
          <img src="/assets/Vector2.png" alt="Home" class="w-8 h-8">
          <span class="sr-only">Home Ayudante</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/plazas'" routerLinkActive="bg-customBlue4 text-white"
          class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
          <img src="/assets/plaza.png" alt="Planificacion" class="w-8 h-8">
          <span class="sr-only">Crear Plaza</span>
        </a>
      </li>
      <!-- Opciones visibles solo si validated es true -->
      <ng-container *ngIf="validated">
        <li>
          <a [routerLink]="'/planificacion'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/activity.png" alt="Planificacion" class="w-11 h-11">
            <span class="sr-only">Planificacion</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/vista'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector4.png" alt="Activities" class="w-8 h-8">
            <span class="sr-only">Vista</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/informe'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector3.png" alt="Sign In" class="w-8 h-8">
            <span class="sr-only">Informe</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</aside>
