<div class="h-screen overflow-auto">
  <app-navbar-directors></app-navbar-directors>

  <app-aside-admin *ngIf="role == 'admin'"></app-aside-admin>
  <app-aside-directors *ngIf="role == 'director'"> </app-aside-directors>


  <div class="p-4 sm:ml-20">
    <div class="p-4 mt-14">
      <div class="flex flex-col items-center justify-center h-full w-full">
        <div class="container mx-auto bg-white flex flex-col justify-center">
          <h1 class="text-black text-center font-semibold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            PLAZAS <br>
            Ayudante de Cátedra
          </h1>

          <br>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <div class="flex flex-col md:flex-row items-center text-lg mb-4">
              <button (click)="toggleModal()"
                class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover mb-4 md:mb-0 md:mr-4">
                CREAR NUEVA PLAZA
              </button>
              <p class="text-gray-600 text-sm text-center sm:px-4 md:px-20 lg:px-80 py-3">
                ¡Recuerda que como carrera se pueden postular hasta 4 plazas,<br> si requieres ingresar más plazas
                comunícate con <strong>Nuve Bruceño <br> </strong> <em>nlbriceno&commat;utpl.edu.ec</em>!
              </p>

            </div>

            <!-- Filtro por carrera y ordenar en ascendente y descendente -->
          <div class="flex items-center justify-between mb-4">
            <div class="flex items-center space-x-4" *ngIf="role !== 'director'">
              <label for="career" class="text-sm text-gray-700">Filtrar por carrera:</label>
              <select [(ngModel)]="selectedCareer" (change)="cargarPlazas(email)" class="text-sm text-gray-700 border border-gray-300 rounded-md p-2">
                <option value="">Todas</option>
                <option *ngFor="let career of careers" [value]="career.name">{{ career.name }}</option>
              </select>
            </div>
            <div class="flex items-center space-x-4">
              <label for="orderSubject" class="text-sm text-gray-700">Ordenar Asignaturas:</label>
              <select id="orderSubject" [(ngModel)]="orderSubject" (change)="sortPlazas()" class="text-sm text-gray-700 border border-gray-300 rounded-md p-2">
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
              </select>
            </div>
            <div class="flex items-center space-x-4">
              <label for="orderTeachers" class="text-sm text-gray-700">Ordenar Docentes:</label>
              <select id="orderTeachers" [(ngModel)]="orderDocentes" (change)="sortDocentes()" class="text-sm text-gray-700 border border-gray-300 rounded-md p-2">
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
              </select>
            </div>
          </div>

            
            <table class="w-full text-sm text-left text-gray-500 mt-8">
              <thead class="text-xs text-black uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Docente</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Carrera</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Asignatura</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Malla curricular</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Ciclo requerido</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Paralelo</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Postulantes</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Visualizar</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plazas of plazas$ | async"
                  class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-100 ">
                  <td class="px-6 py-4">{{ plazas.nameTeacher }}</td>
                  <td class="px-6 py-4">{{ plazas.career }}</td>
                  <td class="px-6 py-4">{{ plazas.subject }}</td>
                  <td class="px-6 py-4">{{ plazas.curriculum }}</td>
                  <td class="px-6 py-4">{{ plazas.academicCycle }}</td>
                  <td class="px-6 py-4">{{ plazas.parallel }}</td>
                  <td class="px-6 py-4">{{ plazas.totalPostulantes }}</td>

                  <td class="px-6 py-4">
                    <a [routerLink]="['/postulantes', plazas.id]" class="text-customBlueHover hover:underline">Ver
                      Postulantes</a>
                  </td>
                  <td class="px-6 py-4">
                    <button 
                      (click)="toggleModal(plazas)"
                      class="text-customBlueHover hover:underline mr-4"
                    >
                      Editar
                    </button>
                    <button (click)="toggleAlertDelete(); selectedPlaza = plazas" class="text-red-600 hover:underline">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- alerta eliminacion de plaza -->
  <div *ngIf="showAlertDelete" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div
      class="bg-white border border-gray-300 p-6 rounded-3xl shadow-xl max-w-md mx-auto flex items-center space-x-4">
      <svg class="w-8 h-8 text-red-500 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <div>
        <strong class="font-semibold text-red-700 text-lg">¡Atención!</strong>
        <p class="text-black">¿Estás seguro de eliminar la plaza?</p>
        <div class="flex justify-center mt-6 space-x-4">
          <button type="button" (click)="toggleAlertDelete()"
            class="bg-gray-300 hover:bg-gray-400 text-customBlue font-semibold py-3 px-8 rounded-lg">Cancelar</button>
          <button type="button" (click)="eliminarPlaza(selectedPlaza?.id)"
            class="bg-red-500 hover:bg-red-600 text-white font-semibold py-3 px-8 rounded-lg">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  

  <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-3xl shadow-lg max-w-lg md:max-w-2xl lg:max-w-5xl mx-auto">
      <!-- Título del formulario -->
      <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Crear Plaza</h2>

      <div *ngIf="directors" class="flex flex-col items-center justify-center bg-gray-50 p-4 rounded-lg shadow-md w-80 mx-auto">
        <div class="text-sm text-gray-700 space-y-2">
          <p><span class="font-semibold text-gray-900">DIRECTOR:</span> {{ directors.name }}</p>
          <p><span class="font-semibold text-gray-900">CARRERA:</span> {{ directors.career }}</p>
          <p><span class="font-semibold text-gray-900">FACULTAD:</span> {{ directors.faculty }}</p>
          <p><span class="font-semibold text-gray-900">MODALIDAD:</span> {{ directors.modality }}</p>
        </div>
      </div>
      
      
      <div *ngIf="!directors" class="text-center p-4 bg-red-100 text-red-500 rounded-lg w-80 shadow-md">
        <p class="text-sm font-semibold">No se encontró información del director autenticado.</p>
      </div>
      
      <!-- Formulario de entrada -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 p-4">

          <!-- Subject -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Asignatura</label>
            <input formControlName="subject" type="text" placeholder="Nombre de la asignatura"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- teacher -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Docente</label>
            <input formControlName="nameTeacher" type="text" placeholder="Nombre y apellido completo"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Correo del teacher -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Correo de docente</label>
            <input formControlName="emailTeacher" type="emailTeacher" placeholder="Correo institucional UTPL"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Paralelo -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Paralelo</label>
            <input formControlName="parallel" type="text" placeholder="Paralelo de la asignatura"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Malla Curricular -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Malla Curricular</label>
            <select id="curriculum" class="w-full lg:w-72 p-2 border rounded-lg text-gray-700"
              formControlName="curriculum">
              <option value="" disabled>Selecciona una opción</option>
              <option *ngFor="let curriculum of curriculums" [value]="curriculum">{{ curriculum }}</option>
            </select>
          </div>

          <!-- Ciclo requerido -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Ciclo requerido</label>
            <select id="academicCycle" class="w-full lg:w-72 p-2 border rounded-lg text-gray-700"
              formControlName="academicCycle">
              <option value="" disabled>Selecciona una opción</option>
              <option *ngFor="let academicCycle of academicCycles" [value]="academicCycle">{{ academicCycle }}</option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-center mt-6 space-x-4">
          <button type="button" (click)="toggleModal()"
            class="bg-gray-300 hover:bg-gray-400 text-customBlue font-semibold py-3 px-8 rounded-lg">Cancelar</button>
          <button type="submit"
            class="bg-customBlue hover:bg-customBlueHover text-white font-semibold py-3 px-11 rounded-lg">Crear</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="showAlert" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div
      class="bg-green-100 border border-green-300 p-6 rounded-3xl shadow-xl max-w-md mx-auto flex items-center space-x-4">
      <svg class="w-8 h-8 text-green-500 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
      </svg>
      <div>
        <strong class="font-semibold text-green-700 text-lg">¡Éxito!</strong>
        <p class="text-black">La postulación se guardó correctamente.</p>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="showError" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div
      class="bg-red-100 border border-red-300 p-6 rounded-3xl shadow-xl max-w-md mx-auto flex items-center space-x-4">
      <svg class="w-8 h-8 text-red-500 animate-bounce" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <div>
        <strong class="font-semibold text-red-700 text-lg">Error:</strong>
        <p class="text-black">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>