<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen overflow-auto">

  <app-navbar-directors> </app-navbar-directors>
  
  <app-aside-directors> </app-aside-directors>


  <div class="p-4 sm:ml-20">
    <div class="p-4 mt-14">
      <div class="flex flex-col items-center justify-center h-full w-full">
        <div class="container mx-auto bg-white flex flex-col justify-center">
          <h1 class="text-black text-center font-semibold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            PLAZAS <br>
            Ayudante de Cátedra
          </h1>

          <br>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <div class="flex flex-col md:flex-row items-center text-lg mb-4">
              <button (click)="toggleModal()"
                class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover mb-4 md:mb-0 md:mr-4">
                CREAR NUEVA PLAZA
              </button>
              <p class="text-gray-600 text-sm text-center sm:px-4 md:px-20 lg:px-80 py-3">
                ¡Recuerda que como carrera se pueden postular hasta 3 plazas,<br> si requieres ingresar más plazas
                comunícate con <strong>Nuve Bruceño <br> </strong> <em>nlbriceno&commat;utpl.edu.ec</em>!
              </p>

            </div>
            <table class="w-full text-sm text-left text-gray-500 mt-8">
              <thead class="text-xs text-black uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Docente</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Asignatura</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Malla curricular</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Ciclo requerido</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Paralelo</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Postulantes</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Visualizar</th>
                  <th scope="col" class="px-2 sm:px-4 md:px-6 py-3">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plazas of plazas$ | async"
                  class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-100 ">
                  <td class="px-6 py-4">{{ plazas.nameTeacher }}</td>
                  <td class="px-6 py-4">{{ plazas.subject }}</td>
                  <td class="px-6 py-4">{{ plazas.curriculum }}</td>
                  <td class="px-6 py-4">{{ plazas.academicCycle }}</td>
                  <td class="px-6 py-4">{{ plazas.parallel }}</td>
                  <td class="px-6 py-4">{{ plazas.totalPostulantes }}</td>

                  <td class="px-6 py-4">
                    <a [routerLink]="['/postulantes', plazas.id]" class="text-customBlueHover hover:underline">Ver Postulantes</a>
                  </td>
                  <td class="px-6 py-4">
                    <button (click)="toggleModal(plazas)" class="text-customBlueHover hover:underline mr-4">Editar</button>
                    <button (click)="eliminarPlaza(plazas.id)" class="text-red-600 hover:underline">Eliminar</button>
                  </td>
                </tr>
              </tbody>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-3xl shadow-lg max-w-lg md:max-w-2xl lg:max-w-5xl mx-auto">
      <!-- Título del formulario -->
      <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Crear Plaza</h2>

      <div *ngIf="directors" class="flex flex-col items-center">
        <p class="text-sm text-gray-700 text-center">
          <span class="font-semibold">DIRECTOR:</span> {{ directors.name }}
        </p>
        <p class="text-sm text-gray-700 text-center">
          <span class="font-semibold">ASIGNATURA:</span> {{ directors.subject }}
        </p>
      </div>
      <div *ngIf="!directors" class="text-center">
        <p class="text-sm text-red-500">No se encontró información del director autenticado.</p>
      </div>
      
      

      <!-- Formulario de entrada -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

          <!-- Subject -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Asignatura</label>
            <input formControlName="subject" type="text" placeholder="LOGISTICAS Y TRANSPORTE"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- teacher -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Docente</label>
            <input formControlName="nameTeacher" type="text" placeholder="LENIN VICUÑA"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Correo del teacher -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Correo de docente</label>
            <input formControlName="emailTeacher" type="emailTeacher" placeholder="lmvicuna2@utpl.edu.ec"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Paralelo -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Paralelo</label>
            <input formControlName="parallel" type="text" placeholder="A"
              class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
          </div>

          <!-- Malla Curricular -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Malla Curricular</label>
            <select formControlName="curriculum" class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
              <option value="" disabled selected>Selecciona una opción</option>
              <option value="Malla1">Malla1</option>
              <option value="Malla2">Malla2</option>
              <!-- Agrega más opciones según corresponda -->
            </select>
          </div>

          <!-- Ciclo requerido -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Ciclo requerido</label>
            <select formControlName="academicCycle" class="w-full lg:w-72 p-2 border rounded-lg text-gray-700">
              <option value="" disabled selected>Selecciona una opción</option>
              <option value="Ciclo1">Ciclo1</option>
              <option value="Ciclo2">Ciclo2</option>
              <!-- Agrega más opciones según corresponda -->
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-center mt-6 space-x-4">
          <button type="button" (click)="toggleModal()"
            class="bg-gray-300 hover:bg-gray-400 text-customBlue font-semibold py-3 px-8 rounded-lg">Cancelar</button>
          <button type="submit"
            class="bg-customBlue hover:bg-customBlueHover text-white font-semibold py-3 px-11 rounded-lg">Crear</button>
        </div>
      </form>
    </div>
  </div>












</body>

</html>