<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  
  <app-navbar-student> </app-navbar-student>
  
  <app-aside-student></app-aside-student>

  <div class="mt-20 p-4 sm:ml-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 rounded-lg">
    <!-- Primer Bimestre -->
    <div *ngIf="actividadesPrimerBimestre | async as actividadesPrimer" class="mb-8">
      <div *ngFor="let activity of actividadesPrimer">
        <div class="bg-white shadow-lg text-black p-5 mb-10 h-64 flex flex-col justify-between rounded-lg">
          <div class="space-y-4">
            <p class="text-center"><strong>Primer Bimestre - Actividad: <br></strong>{{ activity.activity }}</p>
            <p class="text-center"><strong>Fecha de inicio: <br></strong>{{ activity.startdate }}</p>
            <p class="text-center"><strong>Fecha de fin: <br></strong>{{ activity.enddate }}</p>
          </div>
          <div class="flex justify-center mt-2">
            <button (click)="revisarActividad(activity.id)"
              class="bg-customBlue text-white py-2 px-4 rounded w-full hover:bg-customBlue2">Revisar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Segundo Bimestre -->
    <div *ngIf="actividadesSegundoBimestre | async as actividadesSegundo" class="mb-4">
      <div *ngFor="let activity of actividadesSegundo">
        <div class="bg-white shadow-lg text-black p-5 mb-10 h-64 flex flex-col justify-between rounded-lg">
          <div class="space-y-4">
            <p class="text-center"><strong>Segundo Bimestre - Actividad: <br></strong>{{ activity.activity }}</p>
            <p class="text-center"><strong>Fecha de inicio: <br></strong>{{ activity.startdate }}</p>
            <p class="text-center"><strong>Fecha de fin: <br></strong>{{ activity.enddate }}</p>
          </div>
          <div class="flex justify-center mt-2">
            <button (click)="revisarActividad(activity.id)"
              class="bg-customBlue text-white py-2 px-4 rounded w-full hover:bg-customBlue2">Revisar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Recuperación -->
    <div *ngIf="actividadesRecuperacion | async as actividadesRecuperacion" class="mb-4">
      <div *ngFor="let activity of actividadesRecuperacion">
        <div class="bg-white shadow-lg text-black p-5 mb-10 h-64 flex flex-col justify-between rounded-lg">
          <div class="space-y-4">
            <p class="text-center"><strong>Actividad de Recuperación - Actividad:</strong><br>{{ activity.activity }}
            </p>
            <p class="text-center"><strong>Fecha de inicio:</strong><br>{{ activity.startdate }}</p>
            <p class="text-center"><strong>Fecha de fin:</strong><br>{{ activity.enddate }}</p>
          </div>
          <div class="flex justify-center mt-2">
            <button (click)="revisarActividad(activity.id)"
              class="bg-customBlue text-white py-2 px-4 rounded w-full hover:bg-customBlue2">Revisar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>