<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    
    <app-navbar-student> </app-navbar-student>
    
    <app-aside-student></app-aside-student>

    <form [formGroup]="form" (ngSubmit)="guardarDatos()">

        <div class="p-4 sm:ml-20">
            <div class="p-4 mt-14">
                <div class="flex items-center justify-center h-48 rounded relative">
                    <div class="absolute inset-0 flex items-center justify-center">
                        <div class="flex flex-col items-center justify-center px-4">
                            <img src="/assets/images0.png" alt="Imagen"
                                class="inset-0 m-auto object-cover rounded max-w-11/12" />
                            <p class="text-xl text-gray-950 text-center mt-4 font-bold leading-relaxed">
                                UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
                                PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
                                PERIODO ABRIL - AGOSTO 2024
                            </p>
                        </div>
                    </div>
                </div>

                <div class="p-4 border-2  mt-5 rounded-lg">
                    <p class="mb-5 font-bold">DATOS</p>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900 ">Nombres y
                            apellido
                            del
                            docente</label>
                        <input type="text" formControlName="nameTeacher" id="nameTeacher"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>

                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900">Nombres y
                            apellido
                            del
                            ayudante de cátedra</label>
                        <input type="text" formControlName="assistant" id="assistant"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input3"
                            class="text-sm font-bold text-gray-900 dark:text-gray-900">Facultad</label>
                        <input type="text" formControlName="faculty" id="faculty"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4"
                            class="text-sm font-bold text-gray-900 dark:text-gray-900">Carrera</label>
                        <input type="text" formControlName="career" id="career"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4"
                            class="text-sm font-bold text-gray-900 dark:text-gray-900">Asignatura</label>
                        <input type="text" formControlName="subject" id="subject"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4"
                            class="text-sm font-bold text-gray-900 dark:text-gray-900">Modalidad</label>
                        <input type="text" formControlName="modality" id="modality"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Promedio de
                            la asignatura Primer Bimestre</label>
                        <input type="text" formControlName="firstTermAvg" id="firstTermAvg"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Promedio de
                            la asignatura Segundo Bimestre</label>
                        <input type="text" formControlName="secondTermAvg" id="secondTermAvg"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-4 flex justify-between items-center">
                        <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Número de
                            estudiantes en la asignatura que impartió la ayudantía</label>
                        <input type="text" formControlName="studentCount" id="studentCount"
                            class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </div>


                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">INFORMACIÓN </p>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">INTRODUCCIÓN </p>
                        <textarea id="introduction" rows="10" formControlName="introduction"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>

                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">OBJETIVO GENERAL </p>
                        <input type="text" formControlName="generalObjective" id="generalObjective"
                            class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 1 </p>
                        <input type="text" formControlName="specificObjective1" id="specificObjective1"
                            class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 2 </p>
                        <input type="text" formControlName="specificObjective2" id="specificObjective2"
                            class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 3 </p>
                        <input type="text" formControlName="specificObjective3" id="specificObjective3"
                            class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">RESUMEN </p>
                        <textarea id="summary" rows="10" formControlName="summary"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">MATERIALES Y METODOLOGÍA UTILIZADOS </p>
                        <textarea id="methodology" rows="10" formControlName="methodology"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">HERRAMIENTAS UTILIZADAS PARA COMUNICACIÓN CON LOS ESTUDIANTES </p>
                        <textarea id="tools" rows="10" formControlName="tools"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">ANÁLISIS DE RESULTADOS </p>
                        <textarea id="resultsAnalysis" rows="10" formControlName="resultsAnalysis"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">CONCLUSIONES </p>
                        <textarea id="conclusions" rows="10" formControlName="conclusions"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                    <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                        <p class="mb-5 font-bold">BIBLIOGRAFÍA </p>
                        <textarea id="bibliography" rows="10" formControlName="bibliography"
                            class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </textarea>
                    </div>
                </div>

                <div class="flex items-center justify-center h-20 mb-4 rounded">
                    <button type="submit"
                        class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="showAlert"
        class="fixed top-20 right-4 z-50 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-lg">
        <strong class="font-bold">Éxito:</strong>
        <span class="block sm:inline"> El Informe se guardó correctamente.</span>
    </div>

    <div *ngIf="showError"
        class="fixed top-20 right-4 z-50 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded shadow-lg">
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline"> Hubo un problema al guardar el Informe. Inténtalo nuevamente.</span>
    </div>

</body>

</html>