<app-navbar-teacher *ngIf="user && user.role == 'teacher'"> </app-navbar-teacher>
<app-navbar-admin *ngIf="user && user.role == 'admin'"> </app-navbar-admin>
<app-navbar-directors *ngIf="user && user.role == 'director'"> </app-navbar-directors>

<app-aside-teachers *ngIf="user && user.role == 'teacher'"> </app-aside-teachers>
<app-aside-admin *ngIf="user && user.role == 'admin'"> </app-aside-admin>
<app-aside-directors *ngIf="user && user.role == 'director'"> </app-aside-directors>


<div class="p-4 sm:ml-20">
  <div class="p-4 mt-14">
    <div class="container mx-auto p-6 bg-white overflow-hidden flex flex-col justify-center max-h-full">
      <h2 class="text-xl font-semibold text-black mb-4 text-center" style="font-size: 22px;">
        Listado de Estudiantes
      </h2>

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <!-- div class="flex items-center">
          <span
            class="bg-gray-300 px-10 p-3 border border-gray-300 border-r-0 rounded-l-lg font-semibold"
          >
            Buscar
          </span>
          <input type="text" class="p-3 border border-gray-300 rounded-r-lg w-full" placeholder="Nombre del tutor">
        </div -->
        <table class="w-full text-sm text-left text-gray-500 mt-8">
          <thead class="text-xs text-black uppercase bg-gray-50  ">
            <tr>
              <th scope="col" class="px-6 py-3">ESTUDIANTE</th>
              <th scope="col" class="px-6 py-3">CARRERA</th>
              <th scope="col" class="px-6 py-3">CICLO</th>
              <th scope="col" class="px-6 py-3">ASIGNATURA</th>
              <th scope="col" class="px-6 py-3">PARALELO</th>
              <th scope="col" class="px-6 py-3">VER DOCUMENTOS</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              *ngFor="let studient of studients$ | async"
              class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-100"
            >
              <td class="px-6 py-4">{{ studient.usuario.name }}</td>
              <td class="px-6 py-4">{{ studient.usuario.career }}</td>
              <td class="px-6 py-4">{{ studient.academicCycle }}</td>
              <td class="px-6 py-4">{{ studient.subject }}</td>
              <td class="px-6 py-4">{{ studient.parallel }}</td>
              
              <td class="px-6 py-4">
                <ng-container *ngIf="studient.informe">
                  <a [routerLink]="['/',roleRedirect[user.role], studient.id]"
                    class="text-customBlueHover hover:underline">Ver Documentos</a>
                </ng-container>
                <span *ngIf="!studient.informe" class="text-gray-500">Documentos no Encontrados</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>