<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio de Sesión</title>
</head>


<body class="bg-gray-100 flex flex-col min-h-screen">
  <!-- Navbar -->
  <nav class="fixed top-0 z-50 w-full bg-customOrange">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-between sm:items-stretch sm:justify-start pl-0 ml-0">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-14 w-36" src="/assets/logoutpl.png" alt="Your Company" />

            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4 ml-4">
                <a href="#"
                  class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page" [routerLink]="'/planificacion'">AYUDANTE DE CÁTEDRA</a>
                <a href="#"
                  class=" bg-white text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page" [routerLink]="'/periodo'">PERÍODO</a>
              </div>
              <div class="absolute inset-y-0 right-0 flex items-center">
                <a href="#"
                  class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold"
                  aria-current="page" [routerLink]="'/logout'">CERRAR SESIÓN</a>
              </div>
            </div>
          </div>

        </div>
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" id="mobile-menu-button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-950 hover:bg-customPeach hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Icon when menu is open. -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <div class="relative ml-3">
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden sm:hidden" id="mobile-menu">z
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold"
          aria-current="page" [routerLink]="'/home'">Home</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">User</a>
        <a href="#"
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">Activities</a>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="flex-1 mt-16 p-8 bg-white">
    <div class="bg-white shadow-md rounded-lg p-8 w-full">
      <div class="flex flex-col md:flex-row">
        <div class="md:w-2/3">
          <img src="/assets/image29.png" alt="Grupo de personas" class="rounded-lg">
        </div>
        <div class="md:w-1/2 md:pl-8 mt-8 md:mt-0">
          <h2 class="text-xl mb-4 text-center font-bold">Inicia sesión para continuar al Sistema de Gestión del Proyecto
            Ayudante de Cátedra</h2>
          <p class="text-gray-600 mb-6 font-semibold text-center md:text-left">Periodo Octubre 2024 - Febrero 2025</p>
          <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
            <div class="mb-4 flex">
              <input type="email" formControlName="email" placeholder="Correo electrónico"
                class="flex-1 p-3 border border-gray-300 rounded-l-lg" />
              <span
                class="bg-gray-300 p-3 pl-9 pr-8 border border-l-0 border-gray-300 rounded-r-lg font-semibold">@utpl.edu.ec</span>
            </div>
            <div class="mb-4">
              <input type="password" formControlName="password" placeholder="Contraseña"
                class="w-full p-3 border border-gray-300 rounded-lg" />
            </div>
            <div class="mb-4">
              <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg">Iniciar Sesión</button>
            </div>
            <div class="mb-4">
              <button class="w-full bg-blue-600 text-white py-3 rounded-lg" (click)="loginWithGoogle()">Iniciar Sesión
                con Google</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer class="dark:bg-customBlue text-white text-center p-4">
    2024 Proyecto Ayudante de Cátedra
  </footer>
</body>

</html>