<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

</head>

<body>
  <app-navbar-admin></app-navbar-admin>
  <app-aside-admin></app-aside-admin>

  <div class="p-6 sm:ml-20">
    <div class="p-6 mt-14 max-w-3xl mx-auto">
      <div class="flex flex-col items-center justify-center text-center">
        <img src="/assets/images0.png" alt="Imagen" class="max-w-full h-auto object-cover rounded-lg shadow-lg" />

        <p class="text-xl text-gray-900 font-bold leading-normal mt-8">
          UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
          PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
          PERIODO {{ activePeriod?.name || 'PERÍODO' }}
        </p>

        <div class="flex flex-col md:flex-row items-center mt-8 space-y-4 md:space-y-0 md:space-x-4">
          <button (click)="toggleModal('career')"
            class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover transition duration-300">
            CREAR NUEVA CARRERA
          </button>
          <button (click)="toggleModal('faculty')"
            class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover transition duration-300">
            CREAR NUEVA FACULTAD
          </button>
          <button (click)="toggleModal('academicCycle')"
            class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover transition duration-300">
            CREAR NUEVO CICLO
          </button>
          <button (click)="toggleModal('curriculum')"
            class="bg-customBlue text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-customBlueHover transition duration-300">
            CREAR NUEVA MALLA
          </button>
        </div>
      </div>

      <div *ngIf="modalType" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-8 rounded-3xl shadow-xl max-w-lg w-full mx-auto transition-all duration-300">
          <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">{{ modalTitle }}</h2>

          <!-- Mensaje de éxito con ícono de verificación -->
          <div *ngIf="successMessage"
            class="flex items-center justify-center bg-green-100 text-green-700 p-3 rounded-lg mb-4">
            <svg class="w-6 h-6 mr-2 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg>
            <span>{{ successMessage }}</span>
          </div>

          <form [formGroup]="form" (ngSubmit)="submitData()">
            <div class="space-y-4">
              <div *ngIf="modalType === 'career'">
                <label class="block text-gray-700 font-medium">Carrera</label>
                <input formControlName="career" type="text"
                  class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300" placeholder="EJ: COMPUTACION">
              </div>
              <div *ngIf="modalType === 'faculty'">
                <label class="block text-gray-700 font-medium">Facultad</label>
                <input formControlName="faculty" type="text"
                  class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300"
                  placeholder="EJ: FACULTAD DE INGENIERÍA">
              </div>
              <div *ngIf="modalType === 'curriculum'">
                <label class="block text-gray-700 font-medium">Malla Curricular</label>
                <input formControlName="curriculum" type="text"
                  class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300" placeholder="EJ: MALLA: ECTS-1C">
              </div>
              <div *ngIf="modalType === 'academicCycle'">
                <label class="block text-gray-700 font-medium">Ciclo Académico</label>
                <input formControlName="academicCycle" type="text"
                  class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300" placeholder="EJ: CICLO 1">
              </div>
            </div>

            <div class="flex justify-center mt-6 space-x-4">
              <button type="button" (click)="toggleModal(undefined)"
                class="bg-gray-200 text-gray-800 px-6 py-2 rounded-lg hover:bg-gray-300 transition duration-300">Cancelar</button>
              <button type="submit"
                class="bg-customBlue text-white px-6 py-2 rounded-lg hover:bg-customBlueHover transition duration-300">Guardar</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Tables to display the data -->
      <div class="mt-10 space-y-12">
        <!-- Carreras -->
        <div>
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">Carreras</h2>
          <table class="min-w-full bg-white rounded-xl shadow-md overflow-hidden">
            <thead class="bg-gray-50">
              <tr>
                <th class="py-4 px-6 text-left text-gray-700 text-base font-medium">Carrera</th>
                <th class="py-4 px-6 text-center text-gray-700 text-base font-medium">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let career of careers" class="border-t hover:bg-gray-50 transition-colors">
                <td class="py-4 px-6 text-gray-800 text-base">{{ career.name }}</td>
                <td class="py-4 px-6 text-center flex justify-center gap-4">
                  <!-- Botón Editar -->
                  <button (click)="editItem('career', career)" class="text-customBlue hover:text-customBlueHover">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 20h9" />
                      <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                    </svg>
                  </button>
                  <!-- Botón Eliminar -->
                  <button (click)="deleteItem('careers', career.id)" class="text-red-500 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M3 6h18" />
                      <path d="M8 6V4h8v2" />
                      <path d="M10 11v6" />
                      <path d="M14 11v6" />
                      <path d="M5 6h14l-1 14H6L5 6z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        



        <!-- Facultades -->
        <div>
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">Facultades</h2>
          <table class="min-w-full bg-white rounded-xl shadow-md overflow-hidden">
            <thead class="bg-gray-50">
              <tr>
                <th class="py-4 px-6 text-left text-gray-700 text-base font-medium">Facultad</th>
                <th class="py-4 px-6 text-center text-gray-700 text-base font-medium">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let faculty of faculties" class="border-t hover:bg-gray-50 transition-colors">
                <td class="py-4 px-6 text-gray-800 text-base">{{ faculty.name }}</td>
                <td class="py-4 px-6 text-center flex justify-center gap-4">
                  <!-- Botón Editar -->
                  <button (click)="editItem('faculty', faculty)" class="text-customBlue hover:text-customBlueHover">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 20h9" />
                      <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                    </svg>
                  </button>
                  <!-- Botón Eliminar -->
                  <button (click)="deleteItem('faculties', faculty.id)" class="text-red-500 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M3 6h18" />
                      <path d="M8 6V4h8v2" />
                      <path d="M10 11v6" />
                      <path d="M14 11v6" />
                      <path d="M5 6h14l-1 14H6L5 6z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Ciclos Académicos -->
        <div>
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">Ciclos Académicos</h2>
          <table class="min-w-full bg-white rounded-xl shadow-md overflow-hidden">
            <thead class="bg-gray-50">
              <tr>
                <th class="py-4 px-6 text-left text-gray-700 text-base font-medium">Ciclo Académico</th>
                <th class="py-4 px-6 text-center text-gray-700 text-base font-medium">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let academicCycle of academicCycles" class="border-t hover:bg-gray-50 transition-colors">
                <td class="py-4 px-6 text-gray-800 text-base">{{ academicCycle.name }}</td>
                <td class="py-4 px-6 text-center flex justify-center gap-4">
                  <!-- Botón Editar -->
                  <button (click)="editItem('academicCycle', academicCycle)" class="text-customBlue hover:text-customBlueHover">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 20h9" />
                      <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                    </svg>
                  </button>
                  <!-- Botón Eliminar -->
                  <button (click)="deleteItem('academicCycles', academicCycle.id)" class="text-red-500 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M3 6h18" />
                      <path d="M8 6V4h8v2" />
                      <path d="M10 11v6" />
                      <path d="M14 11v6" />
                      <path d="M5 6h14l-1 14H6L5 6z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Mallas Curriculares -->
        <div>
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">Mallas Curriculares</h2>
          <table class="min-w-full bg-white rounded-xl shadow-md overflow-hidden">
            <thead class="bg-gray-50">
              <tr>
                <th class="py-4 px-6 text-left text-gray-700 text-base font-medium">Malla Curricular</th>
                <th class="py-4 px-6 text-center text-gray-700 text-base font-medium">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curriculum of curriculums" class="border-t hover:bg-gray-50 transition-colors">
                <td class="py-4 px-6 text-gray-800 text-base">{{ curriculum.name }}</td>
                <td class="py-4 px-6 text-center flex justify-center gap-4">
                  <!-- Botón Editar -->
                  <button (click)="editItem('curriculum', curriculum)" class="text-customBlue hover:text-customBlueHover">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 20h9" />
                      <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                    </svg>
                  </button>
                  <!-- Botón Eliminar -->
                  <button (click)="deleteItem('curriculums', curriculum.id)" class="text-red-500 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M3 6h18" />
                      <path d="M8 6V4h8v2" />
                      <path d="M10 11v6" />
                      <path d="M14 11v6" />
                      <path d="M5 6h14l-1 14H6L5 6z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>




    </div>
  </div>

</body>

</html>