<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Informes</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <app-navbar-teacher> </app-navbar-teacher>

    <app-aside-teachers> </app-aside-teachers>

    <main class="ml-16 mt-16 p-6">
        <div class="bg-white font-['Inter']">
            <!-- Título Principal -->
            <h1 class="text-center text-lg font-semibold mb-6">DESARROLLO DE INFORME Y EVALUACIÓN</h1>

            <!-- Primera Sección - Informe de Ayudante -->
            <div class="bg-[#e6f0ff] p-6 rounded-lg mb-8">
                <p class="text-sm text-center mb-4">
                    En la siguiente sección se encuentra el informe de Ayudante de Cátedra y la Evaluación del Becario
                    de
                    Responsabilidad Universitaria (BRU) Ayudante de Cátedra Modalidad Presencial
                </p>

                <h2 class="text-center font-semibold mb-4">INFORME DE AYUDANTE DE CÁTEDRA</h2>

                <ul class="list-disc text-sm space-y-2 mb-6 mx-8">
                    <li>El estudiante debe descargar el formato adjunto y generar su informe a partir del mismo. Una vez
                        completado, se debe firmar por parte del docente encargado de la ayudantía y el estudiante
                        ayudante
                        de
                        cátedra en la sección correspondiente.</li>
                    <li>Una vez firmado y validado, se debe cargar en el sistema.</li>
                </ul>

                <div class="grid md:grid-flow-row gap-6 justify-center">
                    <!-- Selector de estudiantes -->
                    <div class="border border-slate-400 rounded-lg p-4 text-center">
                        <label for="select-estudiante" class="font-semibold mb-2 block">Selecciona un estudiante</label>
                        <select *ngFor="let estudiante of estudiantes" id="select-estudiante"
                            class="border rounded w-full p-2" (change)="seleccionarEstudiante2(estudiante)">
                            <option value="">-- Seleccionar --</option>
                            <option [value]="estudiante.id">
                                {{ estudiante.assistant }}
                            </option>
                        </select>
                    </div>

                    <!-- Botón Descargar -->
                    <div class="border border-slate-400 rounded-lg p-4 text-center">
                        <p class="font-semibold mb-2">DESCARGAR INFORME DE AYUDANTE DE CÁTEDRA</p>
                        <button (click)="descargarAyudanteCatedra()"
                            [disabled]="!estudianteSeleccionado2 || !ayudanteCatedraUrl"
                            class="bg-customBlue hover:bg-customBlueHover text-white w-full py-2 rounded mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                        </button>

                        <p class="text-xs text-gray-600">Se Descarga en formato de PDF</p>

                    </div>
                </div>
            </div>
            <!-- Estados -->
            <div class="mt-6 space-y-2">
                <div class="flex items-center gap-2">
                    <span class="text-sm"><span class="font-semibold text-green-600">VALIDADO</span> por el
                        administrador.</span>
                </div>
                <div class="flex items-center gap-2">
                    <span class="text-sm"><span class="font-semibold text-red-600">NO VALIDADO</span> por el
                        administrador.
                        <span class="font-semibold">Comentario:</span> El informe no tiene la introducción ni la
                        firma
                        del
                        docente.</span>
                </div>
                <div class="flex items-center gap-2">
                    <span class="text-sm"><span class="font-semibold text-yellow-500">PENDIENTE</span> de validar
                        por el
                        administrador.</span>
                </div>
            </div>

            <div class="bg-gray-100 font-['Inter'] p-6 rounded-lg">
                <h2 class="text-center font-semibold mb-4">FORMATOS DE EVALUACIÓN DEL BECARIO DE RESPONSABILIDAD
                    UNIVERSITARIA (BRU)</h2>

                <div *ngIf="archivosFiltrados.length > 0; else noArchivos">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6">
                        <div *ngFor="let archivo of archivosFiltrados"
                            class="border border-slate-400 rounded-lg p-4 text-center">
                            <p class="font-semibold mb-2">
                                <!-- Mostrar el título según el fileType -->
                                <span *ngIf="archivo.fileType === 'evaluacion_becario'">DESCARGAR FORMATO EVALUACIÓN DE
                                    BECARIO DE RESPONSABILIDAD UNIVERSITARIA</span>
                                <span *ngIf="archivo.fileType === 'conflicto_interes'">DESCARGAR FORMATO DECLARATORIA DE
                                    CONFLICTO DE INTERÉS</span>
                            </p>
                            <a [href]="archivo.url" download="{{ archivo.name }}" target="_blank"
                                class="bg-customBlue hover:bg-customBlueHover text-white w-full py-2 rounded mb-2 inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                </svg>
                            </a>
                            <p class="text-xs text-gray-600">Se Descarga en formato PDF</p>

                        </div>
                    </div>
                </div>

                <ng-template #noArchivos>
                    <p class="text-center text-gray-500">No hay Formatos Disponibles.</p>
                </ng-template>
            </div>


            <!-- Segunda Sección - Evaluación BRU -->
            <button (click)="toggleSelector()"
                class="bg-customBlue hover:bg-customBlueHover text-white px-4 py-2 rounded mt-3">
                Seleccionar Estudiante
            </button>

            <!-- Toggle flotante para seleccionar estudiante -->
            <div *ngIf="mostrarSelector"
                class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
                <div class="bg-white p-8 rounded-3xl shadow-lg max-w-md mx-auto">
                    <h3 class="text-2xl font-semibold text-center text-gray-800 mb-4">Seleccionar Estudiante</h3>
                    <ul>
                        <li *ngFor="let estudiante of estudiantes" (click)="seleccionarEstudiante(estudiante)"
                            class="p-2 cursor-pointer hover:bg-gray-100">
                            {{ estudiante.assistant }}
                        </li>
                    </ul>

                    <button (click)="toggleSelector()"
                        class="bg-customBlue hover:bg-customBlueHover text-white px-4 py-2 mt-4 rounded w-full">
                        Cerrar
                    </button>
                </div>
            </div>

            <!-- Mostrar el estudiante seleccionado -->
            <div class="mt-3 items-center" *ngIf="estudianteSeleccionado">
                <p>Estudiante seleccionado: <strong>{{ estudianteSeleccionado.assistant }}</strong></p>
            </div>

            <!-- Mensaje si no hay estudiante seleccionado -->
            <div *ngIf="!estudianteSeleccionado" class="text-red-500 text-center mb-4">
                <p><strong>¡Debes seleccionar un estudiante antes de cargar los archivos!</strong></p>
            </div>

            <!-- Botones para subir archivos -->
            <div class="grid md:grid-cols-2 gap-6 mt-4">
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">CARGAR EVALUACIÓN DE BECARIO DE RESPONSABILIDAD UNIVERSITARIA</p>
                    <input type="file" (change)="subirArchivo($event, 'evaluacion_becario')" class="hidden" #fileInput1>

                    <button (click)="fileInput1.click()"
                        [disabled]="!estudianteSeleccionado || archivoSubiendoEvaluacion"
                        class="bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </button>
                    <p class="text-xs text-gray-600">Se Debe Cargar en formato de PDF</p>

                    <!-- Indicador de carga para Evaluación -->
                    <div *ngIf="archivoSubiendoEvaluacion" class="flex justify-center items-center mt-2">
                        <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 border-t-4 border-blue-500 rounded-full"
                            role="status"></div>
                    </div>

                    <!-- Mensaje de éxito para Evaluación -->
                    <div *ngIf="mensajeExitoEvaluacion" class="text-green-500 mt-2">
                        <p>Archivo cargado con éxito!</p>
                    </div>
                </div>

                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">CARGAR DECLARATORIA DE CONFLICTO DE INTERÉS</p>
                    <input type="file" (change)="subirArchivo($event, 'conflicto_interes')" class="hidden" #fileInput2>

                    <button (click)="fileInput2.click()"
                        [disabled]="!estudianteSeleccionado || archivoSubiendoConflicto"
                        class="bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </button>
                    <p class="text-xs text-gray-600">Se Debe Cargar en formato de PDF</p>

                    <!-- Indicador de carga para Conflicto de Interés -->
                    <div *ngIf="archivoSubiendoConflicto" class="flex justify-center items-center mt-2">
                        <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 border-t-4 border-blue-500 rounded-full"
                            role="status"></div>
                    </div>

                    <!-- Mensaje de éxito para Conflicto de Interés -->
                    <div *ngIf="mensajeExitoConflicto" class="text-green-500 mt-2">
                        <p>Archivo cargado con éxito!</p>
                    </div>
                </div>
            </div>





        </div>

    </main>
</body>

</html>