<app-navbar-teacher> </app-navbar-teacher>

<app-aside-teachers> </app-aside-teachers>

<main class="ml-16 mt-16 p-6">
    <div class="bg-white">
        <!-- Título Principal -->
        <h1 class="text-center text-lg font-semibold mb-6">DESARROLLO DE INFORME Y EVALUACIÓN</h1>

        <!-- Primera Sección - Informe de Ayudante -->
        <div class="bg-[#e6f0ff] p-6 rounded-lg mb-8">
            <p class="text-sm text-center mb-4">
                En la siguiente sección se encuentra el informe de Ayudante de Cátedra y la Evaluación del Becario
                de
                Responsabilidad Universitaria (BRU) Ayudante de Cátedra Modalidad Presencial
            </p>

            <h2 class="text-center font-semibold mb-4">INFORME DE AYUDANTE DE CÁTEDRA</h2>

            <ul class="list-disc text-sm space-y-2 mb-6 mx-8">
                <li>El estudiante debe descargar el formato adjunto y generar su informe a partir del mismo. Una vez
                    completado, se debe firmar por parte del docente encargado de la ayudantía y el estudiante
                    ayudante
                    de
                    cátedra en la sección correspondiente.</li>
                <li>Una vez firmado y validado, se debe cargar en el sistema.</li>
            </ul>

            <div class="grid md:grid-flow-row gap-6 justify-center">
                <!-- Botón Descargar -->
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">DESCARGAR EL INFORME DE AYUDANTE DE CÁTEDRA</p>
                    <a 
                        class="bg-customBlue hover:bg-customBlueHover text-white w-full py-2 rounded mb-2 inline-block"
                        *ngIf="postulation && postulation.informe && postulation.informe.url else noInforme"
                        target="_blank"
                        [href]="postulation.informe.url"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                        </svg>
                    </a>

                    <ng-template #noInforme>
                        <p><b>PENDIENTE</b></p>
                    </ng-template>
                    <p
                        *ngIf="postulation && postulation.informe && postulation.informe.date"
                    >
                        <small><b>Fecha de Carga: {{ postulation.informe.date.toDate() | date: 'dd/MM/yyyy' }}</b></small>
                    </p>
                    <p class="text-xs text-gray-600">Se descarga en formato de PDF</p>
                </div>
            </div>
            <!-- Estados -->
            <div *ngIf="postulation && postulation.informe" class="mt-6 space-y-2">
                <div *ngIf="postulation.informe.state == 'VALIDADO'" class="flex items-center gap-2">
                    <span class="text-sm">
                        <span class="font-semibold text-green-600">VALIDADO</span> por el administrador.
                    </span>
                </div>
                <div *ngIf="postulation.informe.state == 'NO VALIDADO'" class="flex items-center gap-2">
                    <span class="text-sm">
                        <span class="font-semibold text-red-600">NO VALIDADO</span> por el administrador.
                    </span>
                </div>
                <div *ngIf="postulation.informe.state == 'PENDIENTE'" class="flex items-center gap-2">
                    <span class="text-sm">
                        <span class="font-semibold text-yellow-500">PENDIENTE</span> de validar por el administrador.
                    </span>
                </div>
            </div>

            <!-- Mostrar Comentario -->
            <div
                *ngIf="postulation && postulation.informe && postulation.informe.comment && postulation.informe.comment.trim() != ''"
                class="bg-[#f0f0f0] p-6 rounded-lg mb-2 mt-4"
            >
                <p class="font-semibold mb-2">Comentario del administrador</p>
                <p>{{ postulation.informe.comment }}</p>
            </div>
        </div>

        <!-- Segunda Sección - Evaluación BRU -->
        <div class="bg-[#fff9e5] p-6 rounded-lg mt-6">
            <h2 class="text-center font-semibold mb-4">EVALUACIÓN DEL BECARIO DE RESPONSABILIDAD UNIVERSITARIA (BRU)
            </h2>

            <ul class="list-disc text-sm space-y-2 mb-6 mx-8">
                <li>El docente debe descargar el formato adjunto y generar la evaluación. Una vez completado, se
                    debe
                    firmar
                    por parte del docente.</li>
                <li>Una vez firmado y validado, se debe cargar en el sistema.</li>
            </ul>

            <div class="grid md:grid-cols-2 gap-6">
                <!-- Botón Descargar -->
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">
                        DESCARGAR FORMATO DE LA DECLARATORIA DE CONFLICTOS DE INTERÉS TUTOR - ESTUDIANTES
                    </p>
                    <a
                        href="https://firebasestorage.googleapis.com/v0/b/catedra-458c0.appspot.com/o/Declaracio%CC%81n%20de%20conflictos%20de%20intere%CC%81s%20tutor%20-%20estudiante.pdf?alt=media&token=dad0b0e8-3ca4-4f19-bed4-bb76304a46a8"
                        _target="blank"
                    >
                        <button class="bg-customBlue hover:bg-customBlueHover text-white w-full py-2 rounded mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                        </button>
                    </a>
                    <p class="text-xs text-gray-600">Se descarga en formato PDF</p>
                </div>

                <!-- Botón Descargar -->
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">
                        DESCARGAR FORMATO DE EVALUACIÓN DEL AYUDANTE DE CATEDRA
                    </p>
                    <a 
                        href="https://firebasestorage.googleapis.com/v0/b/catedra-458c0.appspot.com/o/Formato%20Evaluacion%20AC.docx?alt=media&token=66ad8fd2-d2f0-4241-b03a-c7c1cd0d5171"
                        _target="blank"
                    >
                        <button class="bg-customBlue hover:bg-customBlueHover text-white w-full py-2 rounded mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                        </button>
                    </a>
                    <p class="text-xs text-gray-600">Se descarga en formato de Word</p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-6 mt-6">
                <!-- Botón Descargar Evaluación -->
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <label class="font-semibold mb-2" for="evaluacion">
                        CARGAR EVALUACIÓN DE BECARIO DE RESPONSABILIDAD UNIVERSITARIA
                    </label>
                    <div 
                        class="custom-file-input-wrapper bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2"
                        [ngClass]="{'bg-gray-400 hover:bg-gray-400': postulation?.informeDocente?.state === 'VALIDADO'}"
                    >
                        <input 
                            class="custom-file-input" type="file" id="evaluacion"
                            [disabled]="postulation?.informeDocente?.state === 'VALIDADO'"
                            (change)="onFileSelected($event, 'Eval')" #evaluacion
                        >
                        <label for="evaluacion" class="custom-file-label">
                            <span *ngIf="evaluacion.files![0]"> {{ evaluacion.files![0].name }} </span>
                            <span *ngIf="!evaluacion.files![0]">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                                </svg>
                            </span>
                        </label>
                    </div>
                    <p class="text-xs text-gray-600">Debe estar en formato PDF, copias firmas correspondientes</p>

                    <p
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.evaluacion && postulation.informeDocente.evaluacion.date"
                    >
                        <small><b>Fecha de Carga: {{ postulation.informeDocente.evaluacion.date.toDate() | date: 'dd/MM/yyyy' }}</b></small>
                    </p>
                    <a 
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.evaluacion && postulation.informeDocente.evaluacion.date"
                        [href]="postulation.informeDocente.evaluacion.url"
                        target="_blank"
                    >
                        {{ getFileName(postulation.informeDocente.evaluacion.url) }}
                    </a>
                    <br>
                    <a 
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.evaluacion && postulation.informeDocente.evaluacion.date"
                        [href]="postulation.informeDocente.evaluacion.url"
                        class="bg-customBlue hover:bg-customBlueHover text-white py-2 rounded mb-2 inline-block w-1/2"
                        target="_blank"
                    >
                        Descargar archivo subido
                    </a>
                </div>
                <!-- div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">CARGAR EVALUACIÓN DE BECARIO DE RESPONSABILIDAD UNIVERSITARIA</p>
                    <button class="bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </button>
                    <p class="text-xs text-gray-600">Debe estar en formato PDF, copias firmas correspondientes</p>
                </div -->


                <!-- Botón Descargar Declaratoria -->
                <div class="border border-slate-400 rounded-lg p-4 text-center">
                    <label class="font-semibold mb-2" for="declaratoria">
                        CARGAR DECLARATORIA DE CONFLICTO DE INTERÉS
                    </label>
                    <div
                        class="custom-file-input-wrapper bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2"
                        [ngClass]="{'bg-gray-400 hover:bg-gray-400': postulation?.informeDocente?.state === 'VALIDADO'}"
                    >
                        <input 
                            class="custom-file-input" type="file" id="declaratoria"
                            (change)="onFileSelected($event, 'Decl')" #declaratoria
                            [disabled]="postulation?.informeDocente?.state === 'VALIDADO'"
                        >
                        <label for="declaratoria" class="custom-file-label">
                            <span *ngIf="declaratoria.files![0]"> {{ declaratoria.files![0].name }} </span>
                            <span *ngIf="!declaratoria.files![0]">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                                </svg>
                            </span>
                        </label>
                    </div>
                    <p class="text-xs text-gray-600">Debe estar en formato PDF, copias firmas correspondientes</p>

                    <p
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.declaratoria && postulation.informeDocente.declaratoria.date"
                    >
                        <small><b>Fecha de Carga: {{ postulation.informeDocente.declaratoria.date.toDate() | date: 'dd/MM/yyyy' }}</b></small>
                    </p>
                    <a 
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.declaratoria && postulation.informeDocente.declaratoria.date"
                        [href]="postulation.informe.url"
                        target="_blank"
                    >
                        {{ getFileName(postulation.informeDocente.declaratoria.url) }}
                    </a>
                    <br>
                    <a 
                        *ngIf="postulation && postulation.informeDocente &&
                        postulation.informeDocente.declaratoria && postulation.informeDocente.declaratoria.date"
                        [href]="postulation.informeDocente.declaratoria.url"
                        class="bg-customBlue hover:bg-customBlueHover text-white py-2 rounded mb-2 inline-block w-1/2"
                        target="_blank"
                    >
                        Descargar archivo subido
                    </a>
                </div>
                <!-- div class="border border-slate-400 rounded-lg p-4 text-center">
                    <p class="font-semibold mb-2">CARGAR DECLARATORIA DE CONFLICTO DE INTERÉS</p>
                    <button class="bg-[#ffa500] hover:bg-[#ffb733] text-white w-full py-2 rounded mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </button>
                    <p class="text-xs text-gray-600">Debe estar en formato PDF, copias firmas correspondientes</p>
                </div-->
                <!-- Estados -->
                <div *ngIf="postulation && postulation.informeDocente" class="mt-6 space-y-2">
                    <div *ngIf="postulation.informeDocente.state == 'VALIDADO'" class="flex items-center gap-2">
                        <span class="text-sm">
                            <span class="font-semibold text-green-600">VALIDADO</span> por el administrador.
                        </span>
                    </div>
                    <div *ngIf="postulation.informeDocente.state == 'NO VALIDADO'" class="flex items-center gap-2">
                        <span class="text-sm">
                            <span class="font-semibold text-red-600">NO VALIDADO</span> por el administrador.
                            <span class="font-semibold">Comentario:</span> El informe no tiene la introducción ni la
                            firma del docente.
                        </span>
                    </div>
                    <div *ngIf="postulation.informeDocente.state == 'PENDIENTE'" class="flex items-center gap-2">
                        <span class="text-sm">
                            <span class="font-semibold text-yellow-500">PENDIENTE</span> de validar por el administrador.
                        </span>
                    </div>
                </div>
            </div>

            <!-- Mostrar Comentario -->
            <div
                *ngIf="postulation && postulation.informeDocente && postulation.informeDocente.comment && postulation.informeDocente.comment.trim() != ''"
                class="bg-[#f0f0f0] p-6 rounded-lg mb-2 mt-4"
            >
                <p class="font-semibold mb-2">Comentario del administrador</p>
                <p>{{ postulation.informeDocente.comment }}</p>
            </div>
        </div>
    </div>
</main>