<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    
    <app-navbar-student> </app-navbar-student>



    <app-aside-student></app-aside-student>



    <div class="p-4 sm:ml-20">
        <div class="p-4 mt-14">
            <div class="flex items-center justify-center h-48 rounded relative">
                <div class="absolute inset-0 flex items-center justify-center">
                    <div class="flex flex-col items-center justify-center px-4">
                        <img src="/assets/images0.png" alt="Imagen"
                            class="inset-0 m-auto object-cover rounded max-w-11/12" />
                        <p class="text-xl text-gray-950 text-center mt-4 font-bold leading-relaxed">
                            UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
                            PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
                            PERIODO ABRIL - AGOSTO 2024
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-4 border-2  mt-5 rounded-lg">
                <p class="mb-5 font-bold">DATOS</p>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900 ">Nombres y
                        apellido
                        del
                        docente</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.nameTeacher }}</span>
                </div>

                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900">Nombres y
                        apellido
                        del
                        ayudante de cátedra</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.assistant }}</span>

                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input3"
                        class="text-sm font-bold text-gray-900 dark:text-gray-900">Facultad</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.faculty }}</span>

                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Carrera</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.career }}</span>

                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4"
                        class="text-sm font-bold text-gray-900 dark:text-gray-900">Asignatura</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.subject }}</span>

                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4"
                        class="text-sm font-bold text-gray-900 dark:text-gray-900">Modalidad</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.modality }}</span>
                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Promedio de
                        la asignatura Primer Bimestre</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.firstTermAvg }}</span>
                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Promedio de
                        la asignatura Segundo Bimestre</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.secondTermAvg }}</span>
                </div>
                <div class="mb-4 flex justify-between items-center">
                    <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Número de
                        estudiantes en la asignatura que impartió la ayudantía</label>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.studentCount }}</span>
                </div>
            </div>

            <div class="flex items-center justify-center h-20 mb-4 rounded">
                <button type="submit"
                    class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2">
                    VALIDAR
                </button>
            </div>


            <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                <p class="mb-5 font-bold">INFORMACIÓN </p>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">INTRODUCCIÓN </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.introduction }}</span>
                </div>

                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">OBJETIVO GENERAL </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.generalObjective }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 1 </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.specificObjective1 }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 2 </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.specificObjective2 }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">OBJETIVO ESPECÍFICO 3 </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.specificObjective3 }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">RESUMEN </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.summary }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">MATERIALES Y METODOLOGÍA UTILIZADOS </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.methodology }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">HERRAMIENTAS UTILIZADAS PARA COMUNICACIÓN CON LOS ESTUDIANTES </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.tools }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">ANÁLISIS DE RESULTADOS </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.resultsAnalysis }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">CONCLUSIONES </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.conclusions }}</span>
                </div>
                <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
                    <p class="mb-5 font-bold">BIBLIOGRAFÍA </p>
                    <span class="w-2/3 p-2 text-gray-900">{{ reportData?.bibliography }}</span>
                </div>
            </div>


        </div>
    </div>



</body>

</html>