<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav class="fixed top-0 z-50 w-full bg-customOrange">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-between sm:items-stretch sm:justify-start pl-0 ml-0">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-14 w-36" src="/assets/logoutpl.png" alt="Your Company" />

            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4 ml-4">
                <a class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold" aria-current="page">AYUDANTE DE CÁTEDRA</a>
                <span class="text-gray-950 bg-white rounded-md px-3 py-2 text-sm font-bold" aria-current="page">{{ activePeriod?.nombre || 'PERÍODO' }}</span>
              </div>
              <div class="absolute inset-y-0 right-0 flex items-center">
                <a href="#" class="text-gray-950 hover:bg-customPeach hover:text-black rounded-md px-3 py-2 text-sm font-bold" aria-current="page" [routerLink]="'/logout'">CERRAR SESIÓN</a>
              </div>
            </div>
          </div>

        </div>
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" id="mobile-menu-button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-950 hover:bg-customPeach hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Icon when menu is open. -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <div class="relative ml-3">
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold"
          aria-current="page" [routerLink]="'/home-ayudante'">Home</a>
        <a
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">User</a>
        <a
          class="text-gray-950 hover:bg-customPeach hover:text-black block rounded-md px-3 py-2 text-base font-bold">Activities</a>
      </div>
    </div>
  </nav>



  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-20 h-screen pt-20 transition-transform -translate-x-full bg-customBlue border-r border-gray-200 sm:translate-x-0 dark:bg-customBlue dark:border-customBlue"
    aria-label="Sidebar">
    <div class="h-full px-2 pb-4 overflow-y-auto bg-customBlue dark:bg-customBlue">
      <ul class="space-y-2 font-medium">
        <li>
          <a [routerLink]="'/home-ayudante'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector.png" alt="Home" class="w-8 h-8">
            <span class="sr-only">Home Ayudante</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/plazas'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/plaza.png" alt="Planificacion" class="w-8 h-8">
            <span class="sr-only">Crear Plaza</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/planificacion'" routerLinkActive="bg-customBlue4 text-white"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector2.png" alt="Planificacion" class="w-8 h-8">
            <span class="sr-only">Planificacion</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/vista'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector4.png" alt="Activities" class="w-8 h-8">
            <span class="sr-only">Vista</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/presentacion'"
            class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-slate-400 group">
            <img src="/assets/Vector3.png" alt="Sign In" class="w-8 h-8">
            <span class="sr-only">Presentation</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <form [formGroup]="form" (ngSubmit)="guardarDatos()">

    <div class="p-4 sm:ml-20"> 
      <div class="p-4 mt-14">
        <div class="flex items-center justify-center h-48 rounded relative">
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="flex flex-col items-center justify-center px-4">
              <img src="/assets/images0.png" alt="Imagen" class="inset-0 m-auto object-cover rounded max-w-11/12" />
              <p class="text-xl text-gray-950 text-center mt-4 font-bold leading-relaxed">
                UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA<br>
                PRESENTACIÓN DE PLANIFICACIÓN AYUDANTE DE CÁTEDRA<br>
                PERIODO ABRIL - AGOSTO 2024
              </p>
            </div>
          </div>
        </div>

        <div class="p-4 border-2  mt-5 rounded-lg">
          <p class="mb-5 font-bold">DATOS</p>
          <div class="mb-4 flex justify-between items-center">
            <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900 ">Nombres y apellido
              del
              docente</label>
            <input type="text" formControlName="docente" id="docente"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <div class="mb-4 flex justify-between items-center">
            <label for="small-input2" class="text-sm font-bold text-gray-900 dark:text-gray-900">Nombres y apellido
              del
              ayudante de cátedra</label>
            <input type="text" formControlName="ayudante" id="ayudante"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-4 flex justify-between items-center">
            <label for="small-input3" class="text-sm font-bold text-gray-900 dark:text-gray-900">Facultad</label>
            <input type="text" formControlName="facultad" id="facultad"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-4 flex justify-between items-center">
            <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Carrera</label>
            <input type="text" formControlName="carrera" id="carrera"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-4 flex justify-between items-center">
            <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Asignatura</label>
            <input type="text" formControlName="asignatura" id="asignatura"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-4 flex justify-between items-center">
            <label for="small-input4" class="text-sm font-bold text-gray-900 dark:text-gray-900">Modalidad</label>
            <input type="text" formControlName="modalidad" id="modalidad"
              class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
        </div>


        <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
          <p class="mb-5 font-bold">Act. Primer Bimestre </p>
          <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index" class="grid grid-cols-4 gap-24 mb-5">
              <div class="items-center justify-center h-24 rounded">
                <label for="actividad{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Actividades a
                  realizar</label>
                <input type="text" [formControl]="getActividadControl(i)" [id]="'actividad' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechainicio{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha de
                  inicio</label><br>
                <input type="text" [formControl]="getFechaInicioControl(i)" [id]="'fechainicio' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechaFin{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha de
                  fin</label><br>
                <input type="text" [formControl]="getFechaFinControl(i)" [id]="'fechaFin' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="medioVerificacion{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Medio
                  de verificación</label>
                <input type="text" [formControl]="getMedioVerificacionControl(i)" [id]="'medioVerificacion' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>




          <div class="flex">
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              (click)="addItems()">Agregar actividad</button>
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              *ngIf="items.length > 0" (click)="removeItems(items.length - 1)">Eliminar última
              actividad</button>
          </div>
        </div>





        <div class="p-4 border-2  mt-5 mb-6 rounded-lg">
          <p class="mb-5 font-bold">Act. Segundo Bimestre </p>
          <div formArrayName="itemsSegundo">
            <div *ngFor="let item of itemsSegundo.controls; let i = index" class="grid grid-cols-4 gap-24 mb-5">
              <div class="items-center justify-center h-24 rounded ">
                <label for="actividadSegundo{{i}}"
                  class="text-sm font-bold text-gray-900 dark:text-gray-900">Actividades a realizar</label>
                <input type="text" [formControl]="getActividadSegundoControl(i)" [id]="'actividadSegundo' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechainicioSegundo{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha
                  de inicio</label><br>
                <input type="text" [formControl]="getFechaInicioSegundoControl(i)" [id]="'fechainicioSegundo' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechafinSegundo{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha de
                  fin</label><br>
                <input type="text" [formControl]="getFechaFinSegundoControl(i)" [id]="'fechafinSegundo' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="medioVerificacionSegundo{{i}}"
                  class="text-sm font-bold text-gray-900 dark:text-gray-900">Medio de verificación</label>
                <input type="text" [formControl]="getMedioVerificacionSegundoControl(i)"
                  [id]="'medioVerificacionSegundo' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>
          <div class="flex">
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              (click)="addItemsSegundo()">Agregar actividad</button>
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              *ngIf="itemsSegundo.length > 0" (click)="removeItemsSegundo(itemsSegundo.length - 1)">Eliminar última
              actividad</button>
          </div>
        </div>

        <div class="p-4 border-2 mt-5 mb-6 rounded-lg">
          <p class="mb-5 font-bold">Act. Periodo de Recuperación </p>
          <div formArrayName="itemsRecuperacion">
            <div *ngFor="let item of itemsRecuperacion.controls; let i = index" class="grid grid-cols-4 gap-24 mb-5">
              <div class="items-center justify-center h-24 rounded ">
                <label for="actividadRecuperacion{{i}}"
                  class="text-sm font-bold text-gray-900 dark:text-gray-900">Actividades a realizar</label>
                <input type="text" [formControl]="getActividadRecuperacionControl(i)" [id]="'actividadRecuperacion' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechainicioRecuperacion{{i}}"
                  class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha
                  de inicio</label><br>
                <input type="text" [formControl]="getFechaInicioRecuperacionControl(i)"
                  [id]="'fechainicioRecuperacion' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="fechafinRecuperacion{{i}}" class="text-sm font-bold text-gray-900 dark:text-gray-900">Fecha
                  de
                  fin</label><br>
                <input type="text" [formControl]="getFechaFinRecuperacionControl(i)" [id]="'fechafinRecuperacion' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="items-center justify-center h-24 rounded ">
                <label for="medioVerificacionRecuperacion{{i}}"
                  class="text-sm font-bold text-gray-900 dark:text-gray-900">Medio de verificación</label>
                <input type="text" [formControl]="getMedioVerificacionRecuperacionControl(i)"
                  [id]="'medioVerificacionRecuperacion' + i"
                  class="w-2/3 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-customWhite dark:border-slate-300 dark:placeholder-slate-300 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>
          <div class="flex">
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              (click)="addItemsRecuperacion()">Agregar actividad</button>
            <button type="button"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2"
              *ngIf="itemsRecuperacion.length > 0"
              (click)="removeItemsRecuperacion(itemsRecuperacion.length - 1)">Eliminar última
              actividad</button>
          </div>
        </div>

        <div class="flex items-center justify-center h-20 mb-4 rounded">
          <button type="submit"
            class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-customBlue font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-customBlue dark:bg-customBlue dark:border-customBlue dark:text-white dark:hover:bg-customBlue2 me-2 mb-2">
            Guardar
          </button>
        </div>


      </div>
    </div>
  </form>

</body>

</html>